asgiref==3.8.1
bcrypt==4.1.2
billiard==4.2.0
celery==5.3.6
cffi==1.16.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.3
cryptography==42.0.5
Django==5.0.4
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-filter==24.2
django-timezone-field==6.1.0
djangorestframework==3.15.1
easysnmp==0.2.6
et-xmlfile==1.1.0
kombu==5.3.6
Markdown==3.6
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.1
paramiko==3.4.0
prompt-toolkit==3.0.43
pycparser==2.22
PyJWT==2.8.0
PyNaCl==1.5.0
python-crontab==3.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.3
six==1.16.0
sqlparse==0.4.4
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
