amqp==5.3.1
asgiref==3.8.1
attrs==24.3.0
autobahn==24.4.2
Automat==24.8.1
bcrypt==4.2.1
billiard==4.2.1
celery==5.4.0
certifi==2024.12.14
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
constantly==23.10.4
coreschema==0.0.4
cron-descriptor==1.4.5
cryptography==44.0.0
daphne==4.1.2
Django==4.2.20
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-cors-headers==4.6.0
django-db-connection-pool==1.2.5
django-filter==24.3
django-timezone-field==7.0
djangorestframework==3.15.2
drf-yasg==1.21.8
easysnmp==0.2.6
et_xmlfile==2.0.0
greenlet==3.1.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.5.0
incremental==24.7.2
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.5
kombu==5.4.2
Markdown==3.7
MarkupSafe==3.0.2
msgpack==1.1.0
mysqlclient==2.2.6
numpy==2.2.1
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
paramiko==3.5.0
prompt_toolkit==3.0.48
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
Pygments==2.18.0
PyJWT==2.10.1
PyNaCl==1.5.0
pyOpenSSL==24.3.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
service-identity==24.2.0
setuptools==75.6.0
six==1.17.0
SQLAlchemy==2.0.36
sqlparams==6.1.0
sqlparse==0.5.3
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.3.0
uWSGI==2.0.28
vine==5.1.0
wcwidth==0.2.13
zipp==3.21.0
zope.interface==7.2
